* { margin:0; padding:0; box-sizing:border-box; }
body {
    background:#000;
    color:#fff;
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
}

nav {
    height:80px;
    padding:0 60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:relative;
}

.logo img {
    height:40px;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-right: 44px;
}
.signin-btn {
    background:#e50914;
    color:white;
    border:none;
    padding:6px 18px;
    font-size:16px;
    font-weight:500;
    border-radius:4px;
    cursor:pointer;
    text-decoration:none;
    display:inline-block;
}

.hero {
    height:780px;
    background:url('https://assets.nflxext.com/ffe/siteui/vlv3/e49aba81-ee7c-4f19-baef-7c54bbab003e/web/IN-en-20260202-TRIFECTA-perspective_04f5de39-b518-493c-9a8d-6aef11af0457_large.jpg')  center no-repeat;
    background-size:cover;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

.hero::before {
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.55);
    z-index:1;
}

.hero-content {
    position:relative;
    z-index:2;
    max-width:700px;
    padding:0 20px;
}

.hero h1 {
    font-size:54px;
    font-weight:900;
    margin-bottom:24px;
    margin-top: -108px;
    line-height:1.3;
}

.hero p {
    font-size:18px;
    font-weight:400;
    margin: 24px;
}
.hero-content input{
    background-color: #141414;
    opacity: 0.7;
    padding: 20px;
    margin-right: 5px;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 60%;
}


.hero .get-started {
    background:#e50914;
    color:white;
    border:none;
    padding:14px 36px;
    font-size:28px;
    font-weight:600;
    border-radius:4px;
    cursor:pointer;
    display:inline-block;
    text-decoration:none;
    transition: all 0.1s ease-in;
    margin-top: -2px;
}
.hero .get-started:hover{
    background-color: #c90811;
}

section {
    padding:60px 60px 80px;
}

.category-title {
    font-size:28px;
    font-weight:700;
    margin-bottom:20px;
}

.row {
    overflow-x:auto;
    white-space:nowrap;
    padding-bottom:20px;
}

.row::-webkit-scrollbar {
    height:8px;
}

.row::-webkit-scrollbar-track {
    background:#141414;
}

.row::-webkit-scrollbar-thumb {
    background:#333;
    border-radius:4px;
}

.poster {
    display:inline-block;
    width:240px;
    margin-right:12px;
    vertical-align:top;
}
.poster:hover{
    transition: all 0.3s;
    transform: scale(1.1);
}

.poster img {
    width:100%;
    height:auto;
    border-radius:6px;
    display:block;
}

footer {
    background:#000;
    padding:80px 60px 40px;
    color:#fff;
    font-size:13px;
}

.footer-container {
    max-width:1100px;
    margin:0 auto;
}

.footer-top {
    margin-bottom:40px;
}

.footer-top a {
    color:#fff;
    text-decoration:none;
}

.footer-top a:hover {
    text-decoration:underline;
}

.footer-questions {
    margin-bottom:30px;
}

.footer-questions a {
    color:#fff;
    text-decoration:none;
}

.footer-questions a:hover {
    text-decoration:underline;
}

.footer-links {
    display:flex;
    flex-wrap:wrap;
    gap: 80px;
    margin-bottom:40px;
}

.footer-col {
    min-width:140px;
}

.footer-col ul {
    list-style:none;
}

.footer-col li {
    margin-bottom:12px;
}

.footer-col a {
    color:#fff;
    text-decoration:none;
}

.footer-col a:hover {
    text-decoration:underline;
}

.language-select {
    margin:30px 0 20px;
}

.language-btn {
    background:transparent;
    color:#fff;
    border:1px solid #fff;
    padding:6px 20px;
    font-size:13px;
    border-radius:4px;
    cursor:pointer;
    display:inline-flex;
    align-items:center;
    gap:6px;
}

.footer-bottom {
    color:#fff;
    font-size:13px;
}
.more-reasons {
    padding: 60px 60px 80px;
    background: #000;
}

.more-reasons h2 {
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 60px;
}

.reasons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
    max-width: 1400px;
    margin: 0 auto;
}

.reason-card {
    position: relative;
    background-image:linear-gradient(135deg,#270769,#590330);          
    border: 1px solid #333;
    border-radius: 8px;
    padding: 40px 32px 80px 32px;
    text-align: left;
    overflow: hidden;
    min-height: 320px;
    transition: all 0.3s ease;
}

.reason-card h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.reason-card p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #b3b3b3;
}




@media (max-width: 1000px) {
    .reasons-grid {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
    .more-reasons {
        box-align: centre;
        width:auto;
        padding: 50px 30px;
    }
    
    .more-reasons h2 {
        font-size: 300%;
        
    }
    
    .reason-card {
        padding: 32px 24px 70px 24px;
    }
    .hero h1 {
    font-size:60px;
    font-weight:900;
    margin-bottom:24px;
    margin-top: -108px;
    line-height:1.3;
}

.hero p {
    font-size:25px;
    font-weight:400;
    margin: 24px;
}
.reason-card p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #b3b3b3;
}

}